:root {
  --bg-color: #2f2f36;
  --primary-color: #4b50f7;
  --primary-text-color: #e7e7eb;
  --header-text-color: white;
  --secondary-text-color: #acacb2;
  --okurigana-color: #9aa1ff;
  --hover-color: #494952;
  --disabled-color: #949494;
  --disabled-bg-color: #eeeeee;
  --selected-cell-color: #51515d;
  --invalid-field-color: #eb6886;
  --popup-bg-color: #cb5580;
  --popup-text-color: white;
  --popup-border-style: 2px solid #fdaecb;
  --a-color: #7478ff;
  --card-front-text-color: #2f2f36;
  --card-front-color: #afa9d2;
  --card-back-color: #34343b;
  --card-repeat-color: #c05f89;
  --card-action-color: #aaabbe;
}
