@layer css-transition {
  .vertical-slide-transition-enter {
    transform: translateY(2rem);
    opacity: 0;
  }
  .vertical-slide-transition-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  .vertical-slide-transition-exit {
    transform: translateY(0);
    opacity: 1;
  }
  .vertical-slide-transition-exit-active {
    transform: translateY(2rem);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .fade-transition-enter {
    opacity: 0;
  }
  .fade-transition-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  .fade-transition-exit {
    opacity: 1;
  }
  .fade-transition-exit-active {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
