@layer edit-kanjis-page {
  .editKanjisUI {
    flex: 1 1;
    display: grid;
    grid-template-columns: 40% calc(60% - 2rem);
    grid-template-rows: 100%;
    gap: 2rem;
    overflow-y: hidden;
  }
  .editKanjisUI > aside {
    display: flex;
    flex-direction: column;
    border: var(--border-style);
  }
  .editKanjisUI > aside > nav {
    display: flex;
  }
  .editKanjisUI > aside .kanjiGrid {
    margin: 0.8rem 0 0.8rem 0.8rem;
  }
  .editKanjisUI > form {
    flex: 3 1;
    padding-right: 0.8rem;
    overflow-y: scroll;
  }
}
