@layer edit-user-page {
  .userProfileCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border: var(--border-style);
  }
  .userProfileCard svg {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: var(--border-style);
  }
  .userPageLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
