@import url(general.css);
@import url(form.css);
@import url(kanji-view.css);
@import url(layout.css);
@import url(main-section.css);
@import url(learn-section.css);
@import url(overlays.css);
@import url(css-transition.css);

:root {
  --bg-color: white;
  --app-padding: 15%;
  --primary-color: #4b50f7;
  --secondary-color: #bbbbbb;
  --primary-text-color: black;
  --secondary-text-color: #717171;
  --hover-color: #dfdfdf;
  --selected-cell-color: #d6d9ff;
  --a-color: var(--primary-color);
  --card-front-color: #7e86f2;
  --card-back-color: white;
  --hint-color: #eb6886;
  --card-width: 16rem;
  --border-style: 2px solid var(--secondary-text-color);
  --overlay-border-style: 2px solid var(--primary-color);
  --shadow-style: 0 0 1rem #0000004f;
  --focus-border-style: 2px solid var(--primary-text-color);
  --transition-params: 0.2s ease;
  --min-w: 12rem;
  --min-h: 10rem;
}
