@import url(general.css);
@import url(form.css);
@import url(kanji-view.css);
@import url(layout.css);
@import url(main-section.css);
@import url(learn-section.css);
@import url(edit-user-page.css);
@import url(edit-kanjis-page.css);
@import url(overlays.css);
@import url(css-transition.css);

@import url(animations/loading-spinner.css);

:root {
  --app-padding: 15%;
  --card-width: 16rem;
  --border-style: 2px solid var(--secondary-text-color);
  --overlay-border-style: 2px solid var(--primary-color);
  --disabled-border-style: 2px solid var(--disabled-color);
  --shadow-style: 0 0 1rem #0000004f;
  --focus-border-style: 2px solid var(--primary-text-color);
  --transition-params: 0.2s ease;
  --min-w: 12rem;
  --min-h: 10rem;
}
