@layer learn-section {
  .learnUI {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1;
  }

  .kanjiQueue {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .cardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--card-width);
    aspect-ratio: 2/3;
  }
  .cardContainer.center {
    z-index: 1;
  }
  .cardContainer.left .kanjiCard,
  .cardContainer.right .kanjiCard,
  .cardContainer.left .actionCard,
  .cardContainer.right .actionCard {
    scale: 0.8;
  }
  .kanjiCard,
  .actionCard {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.18rem solid var(--primary-text-color);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-style);
    transition: opacity 0.3s ease, scale 0.3s ease;
  }
  .kanjiCard.zoom,
  .actionCard.zoom {
    scale: 1.05;
  }
  .kanjiCard.repeat {
    background-color: var(--card-repeat-color);
  }
  .kanjiCard.front .kanjiView {
    color: var(--bg-color);
    background-color: var(--card-front-color);
  }
  .kanjiCard.back .kanjiView {
    background-color: var(--card-back-color);
  }
  .kanjiCard .kanjiView {
    border-radius: 0.5rem;
    border: 0.18rem dashed var(--card-front-color);
    text-align: center;
  }

  .actionCard {
    border: 0.18rem dashed var(--card-action-color);
    color: var(--card-action-color);
    box-shadow: none;
  }

  .actionCard figcaption {
    font-size: 1.3rem;
  }

  .cardActionButton {
    z-index: -1;
    position: absolute;
    top: -2rem;
    border: none;
    color: var(--secondary-text-color);
    background-color: transparent;
  }
  .cardActionButton:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  .kanjiCardNav {
    position: absolute;
    bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.2rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .kanjiCardPreview {
    flex-basis: 1rem;
    min-height: 2rem;
    border-bottom: none;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
  }
  .kanjiCardPreview.repeat {
    background-color: var(--card-repeat-color);
  }
}
