@layer learn-section {
  .learnUI {
    display: flex;
    justify-content: center;
    flex: 1 1;
  }

  .kanjiQueue {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .kanjiCardContainer {
    position: absolute;
    width: var(--card-width);
    aspect-ratio: 2/3;
  }
  .kanjiCardContainer.left .kanjiCard,
  .kanjiCardContainer.right .kanjiCard {
    scale: 0.8;
  }
  .kanjiCard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.18rem solid var(--primary-text-color);
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem #0000003e;
    text-align: center;
    transition: opacity 0.3s ease, scale 0.3s ease;
  }
  .kanjiCard.front {
    color: var(--bg-color);
    background-color: var(--card-front-color);
  }
  .kanjiCard.back {
    background-color: var(--card-back-color);
  }
  .kanjiCard .kanjiWriting {
    font-size: 4rem;
  }
  .kanjiCard .kanjiMeaning.main {
    font-size: 2rem;
    font-weight: bold;
  }
  .kanjiCard .kanjiMeaning:not(.main)::before {
    display: block;
    content: '';
    width: 100%;
    height: 0.16rem;
    margin-bottom: 0.6rem;
    border-radius: 0.08rem;
    background-color: var(--secondary-text-color);
    opacity: 0.5;
  }
}
