@layer main-section {
  .kanjiGrid {
    display: grid;
  }
  .kanjiCell {
    position: relative;
    display: flex;
    align-items: center;
  }
  .kanjiCell .controlButton {
    position: absolute;
    right: 0.5rem;
  }

  .kanjiCellButton {
    flex: 1 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.1rem 2.8rem 0.1rem 1rem;
    background-color: var(--background-color);
    text-align: left;
    overflow-x: hidden;
    transition: background-color var(--transition-params);
  }
  .kanjiCellButton:focus {
    outline: var(--primary-text-color) solid 1px;
  }

  .kanjiCell.selected > .kanjiCellButton {
    background-color: var(--selected-cell-color);
  }
  .kanjiCell .kanjiWriting {
    font-size: 2rem;
    font-weight: bold;
  }
  .kanjiCell .kanjiOnReadings,
  .kanjiCell .kanjiKunReadings {
    font-size: 0.8rem;
  }
}
