@layer main-section {
  .kanjiGrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.3rem));
    gap: 0.6rem;
  }

  .kanjiCell {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.1rem 0.6rem;
    background-color: var(--bg-color);
    transition: background-color var(--transition-params);
  }
  .kanjiCell {
    transition: background-color var(--transition-params);
  }
  .kanjiCell:hover {
    background-color: var(--hover-color);
  }
  .kanjiCell .kanjiWriting {
    font-size: 2rem;
    font-weight: bold;
  }
  .kanjiCell.selected {
    background-color: var(--secondary-color);
  }
}
