@layer overlays {
  .modalWindowBG {
    z-index: 99000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .modalWindow,
  .tooltipContent {
    border: var(--overlay-border-style);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-style);
    text-align: center;
  }

  .modalWindowBG {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000076;
  }
  .modalWindow {
    padding: 1.2rem;
  }
  .modalWindow > * {
    min-width: 18.5rem;
    width: 42vw;
    max-width: 27rem;
    margin: 1rem 0;
  }

  .tooltip {
    z-index: 100000;
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: none;
  }
  .tooltipPointer {
    z-index: 100001;
    align-self: center;
    width: 1rem;
    margin: -1px;
    fill: var(--primary-color);
  }
  .tooltipContent {
    padding: 0.4rem;
  }

  .userModal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .userModal > h1 {
    margin-bottom: 0.5rem;
  }
  .userModal > button {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .popupMessage {
    z-index: 99001;
    position: absolute;
    left: 20vw;
    bottom: 1rem;
    width: 60vw;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--popup-text-color);
    border-radius: 0.6rem;
    border: var(--popup-border-style);
    box-shadow: var(--shadow-style);
    background-color: var(--popup-bg-color);
  }
}
