:root {
  --bg-color: white;
  --primary-color: #4b50f7;
  --primary-text-color: black;
  --header-text-color: white;
  --secondary-text-color: #717171;
  --okurigana-color: #7e86f2;
  --hover-color: #dfdfdf;
  --disabled-color: #949494;
  --disabled-bg-color: #eeeeee;
  --selected-cell-color: #d6d9ff;
  --invalid-field-color: #eb6886;
  --popup-bg-color: #ff6b9a;
  --popup-text-color: #31292b;
  --popup-border-style: 2px solid #514346;
  --a-color: var(--primary-color);
  --card-front-text-color: #41425e;
  --card-front-color: #bcc4ed;
  --card-back-color: white;
  --card-repeat-color: #fb75ab;
  --card-action-color: #717171;
}
